.chart {
    display: flex;
    
    position: relative;
    width: 50%;
    height: 100%;
}

.vertical-separator {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #ddd;
}
.line-separators-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.chart-wrapper {
    display: flex;
    flex-direction: column;
}

.chart-bar {
    flex-direction: row;
    height: 16px;
    z-index: 25;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bar-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.separator{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 125px;
}

.prompt {
    width: 50%;
    align-self: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.flex-data {
    display: flex;
    width: 1000px;
} 

.percentage {
    min-width: 48px;
}

.percentages-container {
    display: flex;
    flex-direction: row;
}